/* github page svg/sprite module- page on templating. On how to use these variables */


{{#shapes}}
 .icon--{{base}} {
   width: {{width.outer}}px;
   height: {{height.outer}}px;
   background-image:  url('/temp/sprite/css/{{{sprite}}}');
   background-position: {{position.relative.xy}};
 }
{{/shapes}}
