body {
  font-family: "Robot", sans-serif;
  color: #333;
  /* display: flex;  This is a sticky footer, however this breaks on IE.
  flex-direction: column;
  height: 100vh; */
}

.main-wrapper {
  flex: 1;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

a {
  color: $mainOrange;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.btn:active{
  transform: translateY(2px);
}
