
.btn {
  background-color: $mainBlue;
  color: #fff;
  text-decoration: none;
  padding: .75rem 1.2rem;
  display: inline-block;

  &--orange {
    background-color: $mainOrange;
  }

  &--blue {
    background-color: $mainBlue;
  }

  &--large {
    padding: 1.1rem 1.9rem;

    @mixin atSmall {
      font-size: 1.25rem;
    }

  }

  &--shadow {
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
  }

  &--margin-top {
    margin-top: 20px;

    @mixin atMedium {
      margin-top: 8px;
    }
  }

  &--cursor:hover {
    cursor: pointer;
  }
}
