.page-section {

  &--no-b-padding-until-medium {
    padding-bottom: 0;
    @mixin atMedium {
    padding-bottom: 2.5rem;
    }
  }


    &--no-b-padding-until-large {
      padding-bottom: 0;
      @mixin atLarge {
      padding-bottom: 2.5rem;
      }
    }

    &--margin-top-large {
      margin-top: 0;
      @mixin atLarge {
      margin-top: 1.5rem;
    }
  }

  &--remove-margin {
    @mixin atLarge{
      margin-top: 0;
    }
  }


 &--blue {
  background-color: $mainBlue;
  color: #FFF;
 }

 &--orange {
   background-color: $mainOrange;
   color: #FFF;
 }

 &--projects {
   background-color: #e0e6ef;

   @mixin atLarge {
    &.lazyloaded {
     background: url('../../assets/images/testimonials-bg.jpg') no-repeat center/cover;
    }
   }
 }

}
