.projects {
 background-color: $mainWhite;
 padding: 0 18px 1px 18px;
 margin-bottom: 98px;
 text-align: center;


 @mixin atLarge {
   padding: 0 1.8125rem 1px 3.8125rem;
   margin-bottom: 0;
 }


 &__image {
   border-radius: 80px;
   overflow: hidden;
   width: 160px;
   height: 160px;
   margin: 0 auto 0 auto;
   position: relative;
   top: -80px;
   margin-bottom: -80px;
   border: 6px solid $mainWhite;

  /* &--text-container .container-text {
     position: relative;
     bottom: 95px;
     visibility:hidden;
     font-size: 1rem;
   }
  &--text-container:hover .container-text {
    visibility: visible;
    color: $mainOrange;
    font-weight: 900;
    text-shadow: 0.5px 0.5px #000;

  } */
}

 &__image--opacity:hover {
  opacity: 0.8;
  transition: .3s ease-in;
  transform: translatey(-5%) scale(.9);
 }



 &__title {
   color: $mainBlue;
   text-align: center;
   font-size: 1.5rem;
   font-weight: 500;
   margin: 0;
 }

 &__subtitle {
   color: $mainOrange;
   text-align: center;
   margin: .25rem 0 1rem 0;
   font-weight: 400;
   font-size: 0.9375rem;
 }

 &__button {
   padding: 3px 15px;
   background-color: $mainOrange;
   outline: none;
   margin-bottom: 5px;
  }

}
