.resume-section {
  position: relative;


  &__main-styling {
    width: 50rem;
    height: 50rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }


  &--blue {
    background-color: $mainBlue;
  }

}
