.wrapper {
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  &--medium {
    max-width: 976px;
  }

  .wrapper {
    padding-left: 0;
    padding-right: 0;

  &__image {
    box-shadow: 5px 5px $mainOrange, -0.5em 0 .2em $mainBlue; /*adds two color */
   }
  }
}
